.container{
    font-family: 'Muli';
    font-size: 16px;
}
#pack1{
    
    border: 1px #ccc solid;
    background: #ffffff;
    border-radius: 15px;


   
}
#form1{
    border: 1px #ccc solid;
    background: #ffffff;
    border-radius: 15px;
    padding: 5px;
    color: #000000;
    font-family: 'Muli';
    border: 1px solid #ccc;



}
/* #proceed1{
    border: 1px solid #415bf6;
    border-radius: 3px;
    background: #415bf6;
    color: #ffffff;
    width: 100px;
    height: 40px;
    margin-left: 20%;
    font-weight: 820;
} */
#proceed1{
    border: 2px solid rgb(67, 67, 224);
    border-radius: 3px;
    background: #415bf6;
    color: #ffffff;
    border-radius: 6px;
    /* margin-top: 4px; */
    /* margin-right: 20%; */
    /* position: fixed !important; */

}
#name1{
    color: #000000;
    font-weight: 720;
}
.bar1{
    border: 1px solid #ccc;
    border-radius: 10px;
}
.bar2{
    border: 1px solid rgb(105, 107, 10);
    border-radius: 10px;
}
.bar3{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
}
.successfully{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}
